*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(34, 34, 49);
    color: white;
}
.profile--pics{
    width: 100%;
    height: 220px;
}
.container{
    background-color: rgb(27, 27, 36);
    max-width: 260px;
    margin: auto;
}
.portfolio--info{
    padding: 0 20px;
}
.portfolio--biodata{
    text-align: center;
    line-height: 0.3px;
}
.portfolio--biodata > h3{
    font-size: 22px;
}
.portfolio--biodata > h4{
    font-size: 14px;
    color: rgb(230, 194, 174);
}
.portfolio--biodata >h5{
    font-size: 10px;
    color: rgba(231, 228, 228, 0.603);
}
.contact--details{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.contact--email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
    max-width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.contact--linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
    max-width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 173, 243);
    color: white;
    font-weight: 600;
}
.portfolio--articles > p{
    font-size: 10px;
    line-height: 15px;
}
.portfolio--articles > h3{
    height: 2px;
    font-size: 16px;
    color: rgb(230, 194, 174);
}
footer{
    background-color: rgba(0, 8, 0, 0.671);
    height: 40px;
    margin-top: 20px;
}
.footer--icons--container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}
